:root.theme-light {
  --main-font: 'IBM Plex mono';
  --bg-color: #fff1f7;
  --title-color: #353430;
  --subtitle-color: #353430;
  --text-color: #353430;
  --accent-color: #ff8dcb;
  --heading-color: #ffc2e6;
  --heading-shadow: #ff0070;
  --text-color-rgb: 53, 52, 48;
}

@media (prefers-color-scheme: light) {
  :root {
    --main-font: 'IBM Plex mono';
    --bg-color: #fff1f7;
    --title-color: #353430;
    --subtitle-color: #353430;
    --text-color: #353430;
    --accent-color: #ff8dcb;
    --heading-color: #ffc2e6;
    --heading-shadow: #ff0070;
    --text-color-rgb: 53, 52, 48;
  }

  .header__decoration {
    display: none;
  }

  @media (max-width: 768px) {
    .page {
      --heading-shadow: #ff8dcb;
    }
  }
}

.page.theme_light {
  background-image: url('../images/cover-image-light.png');
}

.header__theme-menu-button:hover {
  outline-color: rgba(var(--text-color-rgb) , 0.4);
}

.header__decoration {
  display: none;
}

@media (max-width: 768px) {
  .page {
    --heading-shadow: #ff8dcb;
  }
}