:root {
  --main-font: 'IBM Plex mono';
  --font-size: 18px;
  --bg-color: #000028;
  --title-color: #ff0070;
  --subtitle-color: #000028;
  --text-color: #f1b2ce;
  --accent-color: #ff0070;
  --heading-color: #db00ff;
  --heading-shadow: #ff0070;
  --page-indent: 20px;
  --title-color-rgb: 255, 0, 112;
}